PORT=xxxx # Porta aonde vai rodar o back

# Server MySQL
DB_TYPE=xxxx      # mysql
DB_HOST=xxxx      # docker => Abrir o app do docker e add essa info nesse campo => host.docker.internal || deixa localhost
DB_PORT=xxxx      # Porta do mysql => 3306
DB_USERNAME=xxxx  # Nome do user, geralmente é root
DB_PASSWORD=xxxx  # Sua senha do mysql
DB_NAME=xxxx      # Banco que voce precisa criar para que o código se conecte => `CREATE DATABASE API5_2` => DB_NAME = API5_2

API_KEY='xxxx'      #API_KEY para request no WeatherMapAPI
